<div class="container">
  <form [formGroup]="checkoutForm" class="needs-validation" novalidates  method="post">
    <div class="input-group">
      <input class="form-control sm-2" type="search" placeholder="Search" aria-label="Search" 
        formControlName="ip" required />
      <div class="input-group-text" id="btnGroupAddon">
        <span>
          <button id="buttonSearch" class="btn btn-default" type="submit" (click)="search()" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="11" height="14">
              <path fill="none" stroke="#FFF" stroke-width="3" d="M2 1l6 6-6 6" />
            </svg>
          </button>
        </span>
      </div>
    </div>
  </form>
</div>

